body {
    margin: 0;
    background-image: radial-gradient(circle farthest-corner at 48.4% 47.5%, #242571 0%, #0033A0 90%);
    background-size: cover;
    background-position: center; 
}

.container {
    display: flex;
    height: 100vh;
}

/* Estilos para la página de login */
.login-page {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.login-page .container-log {
    display: flex;
    width: 800px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-page .blue-section {
    width: 50%;
    background: linear-gradient(to bottom right, #1e90ff, #242570);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.login-page .form-section-log {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login-page h2 {
    margin-bottom: 20px;
}

.login-page .input-group-log {
    margin-bottom: 20px;
    width: 100%;
}

.login-page .input-group-log input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-page .button-log {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-page .button-log:hover {
    background-color: #0073e6;
}

.sidebar {
    width: 250px;
    background: linear-gradient(145deg, #E55213, #B7410E); 
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 1px solid #B7410E; 
}

.sidebar-heading {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
}

.list-group-item {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, padding 0.3; 
}

.list-group-item:hover {
    background-color: #B7410E;
    padding: 10px 15px; 
    margin-left: 10px; 
    margin-right: 10px;
}

.list-group-item img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.list-group-item i {
    margin-right: 10px; 
    font-size: 1.2em; 
    vertical-align: middle; 
}

.sidebar-footer {
    margin-top: auto; 
    padding: 10px;
    text-align: center;
    background-color: #B7410E; 
    border-top: 1px solid #8a2c0d; 
    color: white;
}

.list-group-item img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.list-group-item.active {
    background-color: #61A60E; 
    border-radius: 5px; 
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
    margin-top: -90px;
    margin-left: 50px;
}

.main-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
    display: inline-block;
}

.main-content h1 .highlight {
    color: #E55213;
}

.main-content .logo {
    max-width: 350%;
    height: auto; 
    margin-left: auto; 
    margin-right: 0; 
    align-self: flex-end;
    position: relative; 
    left: 100px;
    top: 70px;
}

.main-content .small-image {
    max-width: 60%; 
    height: auto;
    position: relative; 
    left: 200px;
    top: 20%;
}

/* Inicio de estilos de Ingresar Contrato */

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-left: 200px;
    margin-top: 100px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;  
    margin-top: 20px; 
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.btn-lista {
    background-color: #E55213;
    color: white;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn-lista:active {
    background-color: #C43E10;
}

.btn-ingresar {
    background-color: #61A60E;
    color: white;
}

.btn-ingresar:active {
    background-color: #4D8B0F;
}
/* Estilos para pantalla agregar lista de contrato */

.containerlist{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    margin-left: 40px;
    margin-top: 30px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.title {
    font-size: 2em;
    color: #333; 
    margin-bottom: 20px;
    text-align: center; 
    font-weight: bold; 
}

.table-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    width: 100%; 
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #000000;
    text-align: center;
}

th {
    background-color: #f0a963;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

.action-buttons button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit {
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-edit:active {
    background-color: #1464b9;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-delete:active {
    background-color: #a91d2b;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 230px;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.btn-back {
    background-color: #61A60E;
    color: white;
}

.btn-add {
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-add:active {
    background-color: #1464b9;
}

/* Estilos de nuevoRegistro.php */
.NewCon {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; 
    margin: 100px auto; 
    text-align: center; 
}

.NewCon h2 {
    font-size: 1.5em;
    color: #333;
    margin: 0; 
}

.btn-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    margin-top: 50px;
}

.btn-agregar {
    background-color: #61A60E; 
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    width: 100%; 
    max-width: 300px; 
    transition: background-color 0.3s;
}

.btn-ver {
    background-color: #E55213; 
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    width: 100%; 
    max-width: 300px; 
    transition: background-color 0.3s;
}

.btn-agregar:hover {
    background-color: #609420;
}

.btn-ver:hover {
    background-color: #b7410e; 
}


/* Estilos de generarEtiqueta */
.coneti {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 250px;
    text-align: center; 
}

.coneti h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos para las secciones del formulario */
.form-section {
    margin-bottom: 20px;
}

.form-section input,
.form-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box; 
}

.form-section textarea {
    resize: vertical; 
    height: 100px; 
}

.form-section input::placeholder,
.form-section textarea::placeholder {
    color: #999; 
}

.btngen{
    background-color: #61A60E; 
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    width: 100%; 
    max-width: 300px; 
    transition: background-color 0.3s;
}

.btngen:hover {
    background-color: #609420;
}

/* Estilos para pagina de verListas */

.filter-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20%;
}

.filter-section form {
    display: flex;
    align-items: center;
}

.filter-section input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.filter-section button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    align-self: center; 
    margin-top: -20px; 
}

#buscar {
    background-color: #E55213;
}

#buscar:active {
    background-color: #b7410e;
}

#limpiar {
    background-color: #007bff;
}

#limpiar:active {
    background-color: #1464b9;
}
.button-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px; 
    font-size: 16px; 
}

.btn-gd {
    background-color: #E55213; 
}

.btn-gd:active {
    background-color: #C43E10; 
}

.btn-generate {
    background-color: #61A60E; 
}

.btn-generate:active {
    background-color: #4D8B0F; 
}

.btn-download {
    background-color: #e3283b; 
}

.btn-download:active {
    background-color: #c82333; 
}

.btn-print {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #61A60E; 
    color: #fff;
    cursor: pointer;
    font-size: 16px; 
}

.btn-print:active {
    background-color: #4D8B0F; 
}

.btn-print i {
    margin-right: 8px; 
}

/* Estilos para tabla Master  */

.filter-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20%;
}

.filter-sec form {
    display: flex;
    align-items: center;
}

.filter-sec input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.filter-sec button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 20px; 
    align-self: center; 
    margin-top: -20px; 
}

#pagina-actual {
    margin: 0 10px; 
    font-weight: bold;
    position: relative;
    top: -5px;
}

#anterior {
    background-color: #E55213;
}

#anterior:active {
    background-color: #b7410e;
}

#siguiente {
    background-color: #007bff;
}

#siguiente:active {
    background-color: #1464b9;
}

#descargar {
    background-color: #e3283b; 
    margin-left: 20px; 
}

#descargar:active {
    background-color: #c82333; 
}

/* Estilos de Impresión Individual */

.filter-individual {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start; 
    margin-bottom: 20px;
    margin-left: 5%;
}

.filter-individual form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 10px 20px; 
}

.filter-individual form.inline-form {
    flex-direction: row; 
    align-items: center; 
}

.filter-individual input[type="text"],
.filter-individual input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px; 
    box-sizing: border-box;
}

.filter-individual input[type="text"]::placeholder,
.filter-individual input[type="number"]::placeholder {
    color: #aaa; 
}

.filter-individual .id-rango-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter-individual .id-rango-container form {
    margin: 0 10px; 
}

.filter-individual button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-size: 16px; 
}

#buscar {
    background-color: #E55213;
}

#buscar:active {
    background-color: #b7410e;
}

#limpiar {
    background-color: #007bff;
}

#limpiar:active {
    background-color: #1464b9;
}

.button-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px; 
    font-size: 16px; 
}

.btn-rfg {
    background-color: #007bff; 
}

.btn-rfg:active {
    background-color: #1464b9; 
}

.btn-ge {
    background-color: #61A60E; 
}

.btn-ge:active {
    background-color: #4D8B0F; 
}
